body {
  color: #fff;
  font-family: sans-serif;
  font-style: oblique;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #03A9F4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#parameter {
  padding: 20px;
}

#main {
  right: 0;
  position: absolute;
}
.param {
  padding-top: 10px;
  padding-bottom: 10px;
}

.param input {
  -webkit-appearance: none;
  width: calc(100% - 13px}));
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  padding: 0;
  margin: 0;
}

.param input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:  #FFB300;
  cursor: pointer;
  -webkit-appearance: none;
}

.param input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  background:  #FFB300;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    #parameter {
      padding: 10px;
    }
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}
